﻿@using UrlShortener.Models.ModelViews;
@model UrlViewModel 
<h1>Acortar Url</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="validation" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="UrlLong" class="control-label"></label>
                <input asp-for="UrlLong" class="form-control" />
                <span asp-validation-for="UrlLong" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
