﻿
<div>
    <input type="text" value="Hello World" id="myInput" readonly onkeydown="return false;">
    <!-- The button used to copy the text -->
    <button onclick="copyToClipboard()">Copy text</button>
</div>


<script type="text/javascript">
    function copyToClipboard() {
        const textField = document.createElement('textarea');
        textField.textContent = document.getElementById('myInput').value;
        document.body.appendChild(textField);
        textField.select();
        document.execCommand('copy');
        document.body.removeChild(textField);
        alert("Copied the text: " + textField.value);

    }
    //function myFunction() {
    //    // Get the text field
    //    var copyText = document.getElementById("myInput");

    //    // Select the text field
    //    copyText.select();
    //    copyText.setSelectionRange(0, 99999); // For mobile devices

    //    // Copy the text inside the text field
    //    navigator.clipboard.writeText(copyText.value);

    //    // Alert the copied text
    //    alert("Copied the text: " + copyText.value);
    //}
</script>

        
