﻿@model Url

<h1>Url creado correctamente</h1>
<div>
    <input type="text" value="@Model.UrlShort" id="myInput">
    <!-- The button used to copy the text -->
    <button onclick="myFunction()">Copy text</button>
</div>
